.game_square{
    size:5px;
    height:80px;
    width:80px;
    padding:0px;
    padding-top:5px;
    text-align: center;
    display: inline-block;
}

.game_square_open{
    background-color:white;
    color:black;
    border: solid 1px black;
}

.game_square_closed{
    background-image:url(./resources/closed_16x16.PNG);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.closed_flag{
    background-image:url(./resources/closed_flag_16x16.PNG);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.closed_question{
    background-image:url(./resources/closed_question_16x16.PNG);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.open0{
    background-image:url(./resources/open_0_16x16.PNG);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.open1{
    background-image:url(./resources/open_1_16x16.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.open2{
    background-image:url(./resources/open_2_16x16.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.open3{
    background-image:url(./resources/open_3_16x16.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.open4{
    background-image:url(./resources/open_4_16x16.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.open5{
    background-image:url(./resources/open_5_16x16.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.open6{
    background-image:url(./resources/open_6_16x16.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.open7{
    background-image:url(./resources/open_7_16x16.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.open8{
    background-image:url(./resources/open_8_16x16.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.open_red_bomb{
    background-image:url(./resources/open_red_bomb.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.game_board{
   height: 1000px;
   width:1000px;
  
}

.game_board_row{
    height: 1000px;
    width:1000px;
   
}